---
name: Auto Labeler

"on":
  # pull_request_target event is required for autolabeler to support all PRs
  # including forks
  pull_request_target:
    types:
      - opened
      - reopened
      - edited
      - synchronize

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  main:
    name: Auto label pull requests

    runs-on: ubuntu-latest

    steps:
      # yamllint disable-line rule:line-length rule:comments
      - uses: release-drafter/release-drafter@6db134d15f3909ccc9eefd369f02bd1e9cffdf97 # v6.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config-name: release-drafter.yaml
          disable-releaser: true
